@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: var(--color-neutral-700);
  --color-secondary: var(--color-neutral-500);

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}
